{% load static %}
<html>
    <head>
        <title>SDP-2</title>
        <link rel="stylesheet" href="{% static 'assets/success.scss' %}"/>
        <link rel="stylesheet" href="{% static 'assets/success.css' %}"/>
    </head>
    <body>
        <!-- BOOKING SUCCESSFUL
        {{ brand }}<br>
        {{ model }}<br>
        {{ firstname }}<br>
        {{ lastname }}<br>
        {{ country }}<br>
        {{ address }}<br>
        {{ city }}<br>
        {{ email }}<br>
        {{ phone }}<br> -->
        <div class="type-js headline">
            <h1 class="text-js">You will receive an email confirming that the report has been properly processed.</h1>
        </div>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                function autoType(elementClass, typingSpeed){
                var thhis = $(elementClass);
                thhis.css({
                    "position": "relative",
                    "display": "inline-block"
                });
                thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
                thhis = thhis.find(".text-js");
                var text = thhis.text().trim().split('');
                var amntOfChars = text.length;
                var newString = "";
                thhis.text("");
                setTimeout(function(){
                    thhis.css("opacity",1);
                    thhis.prev().removeAttr("style");
                    thhis.text("");
                    for(var i = 0; i < amntOfChars; i++){
                    (function(i,char){
                        setTimeout(function() {        
                        newString += char;
                        thhis.text(newString);
                        },i*typingSpeed);
                    })(i+1,text[i]);
                    }
                },1500);
                }

                $(document).ready(function(){ 
                    autoType(".type-js", 45);
                });
            </script>
    </body>
</html>